{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<!-- Description -->
<div class="description-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 description-title">
                <h2>ARKEP</h2> </div>
        </div>
        <div class="row">
            <div class="col-sm-12 description-text"> <strong>
	                    	AUTORITETI RREGULLATIV I KOMUNIKIMEVE ELEKTRONIKE DHE POSTARE
                </strong>
                <div class="divider-1"><strong>. . . . . . . . . . . . . . . .</strong></div>
            </div>
        </div>
    </div>
</div>
<!-- Multi Step Form -->
<div class="msf-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 msf-title">
                <h4>FORMULAR I NJOFTIMIT PËR HYRJE NË AKTIVITETIN E KOMUNIKIMEVE ELEKTRONIKE</h4>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 msf-form">
                <form role="form" action="" method="post" class="form-inline" id="reg_form">
                    <fieldset>
                        <h4>QËLLIMI I NJOFTIMIT <span class="step">(Hapi 1 / 8)</span></h4>
                        <div class="radio-buttons-1">
                            <p><strong>Ju lutem, zgjedhni qellimin e njoftimit:</strong></p>
                            <label class="radio">
                                <input type="radio" name="radio-buttons-1-options" value="fillimi_i_sherbimit"><strong> Fillimi i sherbimit</strong> </label>
                            <br>
                            <label class="radio">
                                <input type="radio" name="radio-buttons-1-options" value="shtim_sherbimi"><strong> Shtim sherbimi</strong> </label>
                            <br>
                            <label class="radio">
                                <input type="radio" name="radio-buttons-1-options" value="heqje_sherbimi"><strong> Heqje sherbimi</strong> </label>
                            <br> </div>
                        <br>
                        <button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    <fieldset>
                        <h4>TË DHËNAT PËR NDËRRMARRËSIN <span class="step">(Hapi 2 / 8)</span></h4>
                        <div class="form-group">
                            <label for="emri_nder"><strong>Emri i Ndërmarrësit (Entiteti):</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="emri_nder" class="emri_nder form-control" id="emri_nder"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nr_biz"><strong>Numri i Regjistrimit të Biznesit:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="nr_biz" class="nr_biz form-control" id="nr_biz">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nr_fiskal"><strong>Numri fiskal:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="nr_fiskal" class="nr_fiskal form-control" id="nr_fiskal"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="adresa"><strong>Adresa:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="adresa" class="adresa form-control" id="adresa"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nr_tel"><strong>Numri i Telefonit:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="nr_tel" class="nr_tel form-control" id="nr_tel"> </div>
                        </div>
                        <br>
                        <div class="form-group ">
                            <label for="nr_fax"><strong>Numri i Faksit:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="nr_fax" class="nr_fax form-control" id="nr_fax"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="email"><strong>Email:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="email" class="email form-control" id="email"> </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    <fieldset>
                        <h4>TË DHËNAT PËR ZYRTARIN LIGJËRISHT TË PËRGJEGJËSHËM <span class="step">(Hapi 3 / 8)</span></h4>
                        <div class="form-group">
                            <label for="emri_zyrtarit"><strong>Emri i zyrtarit:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="emri_zyrtarit" class="emri_zyrtarit form-control" id="emri_zyrtarit"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="adresa_zyrtarit"><strong>Adresa:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="adresa_zyrtarit" class="adresa_zyrtarit form-control" id="adresa_zyrtarit"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nr_tel_zyrtarit"><strong>Numri i Telefonit:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="nr_tel_zyrtarit" class="nr_tel_zyrtarit form-control" id="nr_tel_zyrtarit"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nr_fax_zyrtarit"><strong>Numri i Faksit:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="nr_fax_zyrtarit" class="nr_fax_zyrtarit form-control" id="nr_fax_zyrtarit"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="email_zyrtarit"><strong>E-mail adresa:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="email_zyrtarit" class="email_zyrtarit form-control" id="email_zyrtarit"> </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nr_id"><strong>Numri i ID:</strong></label>
                            <br>
                            <div class="form-group">
                                <input type="text" name="nr_id" class="nr_id form-control" id="nr_id"> </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    <fieldset>
                        <h4> AKTIVITETET TË CILAT NJOFTOHEN/CREGJISTROHEN: <span class="step">(Hapi 4 / 8)</span></h4>
                        <div class="form-group col-sm-12" style="padding-left:40%; padding-right:40%;text-align:left;">
                            <p><strong>1. Ofrimi i rrjetit publik fiks:</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-2-options" value="lokal" onclick="javascript:yesnoCheck();" id="noCheck"><strong>Lokal</strong> </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-2-options" value="nacional" onclick="javascript:yesnoCheck();" id="noCheck"><strong>Nacional</strong> </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-2-options" value="tjera_rrjet_fiks" onclick="javascript:yesnoCheck();" id="yesCheck"><strong>Tjera</strong> </label>
                            <div id="ifYes" style="visibility:hidden"><strong> Shkruaj:</strong>
                                <input type='text' id='yes' name='yes'>
                                <br> </div>
                        </div>
                        <br>
                        <div class="form-group col-sm-12" style="padding-left:40%; text-align:left;">
                            <p><strong>2. Ofrimi i shërbimeve publike fikse:</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-3-options" value="tel_lokal" onclick="javascript:yesnoCheck2();" id="noCheck2"><strong>Shërbime telefonike lokale/nacionale</strong> </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-3-options" value="tel_nderkombetar" onclick="javascript:yesnoCheck2();" id="noCheck2"> <strong>Shërbime telefonike ndërkombëtare</strong> </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-3-options" value="tel_publik_pagese" onclick="javascript:yesnoCheck2();" id="noCheck2"> <strong>Telefona publik me pagesë</strong> </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-3-options" value="sherb_tjera" onclick="javascript:yesnoCheck2();" id="yesCheck2"><strong> Shërbime tjera</strong> </label>
                            <div id="ifYes2" style="visibility:hidden"><strong> Shkruaj: </strong>
                                <input type='text' id='yes' name='yes'>
                                <br> </div>
                        </div>
                        <br>
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp
                        <div class="form-group col-sm-12" style="padding-left:40%; text-align:left;">
                            <p><strong>3. Ofrimi i rrjetit publik mobil:</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-4-options" value="mob_lokal"><strong> Lokal </strong></label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-4-options" value="mob_nac"><strong> Nacional </strong></label>
                        </div>
                        <br>
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp
                        <div class="form-group col-sm-12" style="padding-left:40%; text-align:left;">
                            <p><strong>4. Ofrimi i shërbimeve publike mobile:</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-5-options" value="tel_ze"><strong> Shërbime telefonike të zërit</strong> </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-5-options" value="trans_dhena"> <strong>Transmetim të dhënash</strong> </label>
                        </div>
                        <br>
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp
                        <div class="form-group col-sm-12" style="padding-left:40%; text-align:left;">
                            <p><strong>5. Ofrimi i shërbimeve të linjave me qira:</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-6-options" value="fiber_optik"><strong> Fibër optik të pa-ndriçuar</strong> </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-6-options" value="linja_qera"> <strong>Linja tjera me qira </strong></label>
                        </div>
                        <br>
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp
                        <div class="form-group col-sm-12" style="padding-left:40%; text-align:left;">
                            <p><strong>6. Ofrimi i rrjetave publike me transmetim satelitor:</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-7-options" value="trans_satelit"><strong> Ofrimi i rrjetave publike me transmetim satelitor </strong></label>
                        </div>
                        <br>
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp
                        <div class="form-group col-sm-12" style="padding-left:40%; text-align:left;">
                            <p><strong>7. Ofrimi i shërbimeve publike satelitore:</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-8-options" value="publ_satelit"><strong> Ofrimi i shërbimeve publike satelitore</strong> </label>
                        </div>
                        <br>
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp
                        <div class="form-group col-sm-12" style="padding-left:40%; text-align:left;">
                            <p><strong>8. Ofrimi i shërbimeve të transmetimit të të dhënave (Internetit):</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-9-options" value="trans_internet"> <strong>Ofrimi i shërbimeve publike të transmetimit të të dhënave (internetit) </strong></label>
                        </div>
                        <br>
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp
                        <div class="form-group col-sm-12" style="padding-left:40%; text-align:left;">
                            <p><strong>9. Ofrimi i shërbimeve me vlerë të shtuar:</strong></p>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-10-options" value="sherb_vlere_shtuar"><strong> Ofrimi i shërbimeve me vlerë të shtuar </strong></label>
                        </div>
                        <br>
                        <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    <fieldset>
                        <h4>PËRSHKRIMI I RRJETIT DHE/OSE SHËRBIMIT QË DO TË OFROHET: <span class="step">(Hapi 5 / 8)</span></h4>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="about-you"></label>
                                <br>
                                <label style="text-align:left;">
                                    <br>
                                    <br> <strong> ● A do të përdoret rrjeti vetanak apo ndonjë rrjet tjetër,
                                    <br> ● Teknologjia e cila do të përdoret,
                                    <br> ● Radio frekuencat, të cilat planifikohen të përdoren
                                    <br> ● Lista e shërbimeve që planifikohen të ofrohen,
                                    <br> ● Etj </strong></label>
                            </div>
                            <div class="col-sm-6">
                                <label for="about-you"><strong>Të jepen përshkrime të detajuara për secilin aktivitet të njoftuar duke specifikuar:</strong></label>
                                <br>
                                <div class="form-group">
                                    <textarea style="width:350px;" name="about_you" class="about-you form-control" id="about-you"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <h4>Faza e Ofrimit</h4>
                            <div class="col-sm-12">
                                <label for="about-you"><strong>(Të specifikohet koha e parashikuar për fillimin e aktivitetit të komunikimeve elektronike):</strong></label>
                                <br>
                                <div class="form-group">
                                    <textarea style="height: 80px;" name="about_you2" class="about-you form-control" id="about-you2"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    <fieldset>
                        <h4>DOKUMENTET E BASHKANGJITURA: <span class="step">(Hapi 6 / 8)</span></h4>
                        <div class="form-group"> <span><strong>1. Kopje e certifikatës së regjistrimit të biznesit</strong></span>
                            <br>
                            <div class="form-group">
                                <input name="cer_biznesit" type="file" /> <span class="fileinput-filename"></span></div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group"> <span><strong>2. Kopje e Certifikatës së numrit fiskal</strong></span>
                            <br>
                            <div class="form-group">
                                <input name="cert_fiskal" type="file" /> <span class="fileinput-filename"></span></div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group"> <span><strong>3. Kopje e dokumentit ‘Informatë mbi biznesin</strong></span>
                            <br>
                            <div class="form-group">
                                <input name="info_biz" type="file" /> <span class="fileinput-filename"></span></div>
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    <fieldset>
                        <h4>KONFIRMIMI I NJOFTIMIT: <span class="step">(Hapi 7 / 8)</span></h4>
                        <div class="form-group col-sm-12" style="padding-left:250px; padding-right:250px;">
                            <label><strong>Ndërmarrja kërkon që t’i lëshohet certifikata e konfirmimit të njoftimit për ofrimin e rrjeteve dhe/ose shërbimeve publike të komunikimeve elektronike të njoftuara përmes këtij formulari:</strong></label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-11-options" value="po"> <strong>Po </strong></label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" name="radio-buttons-11-options" value="jo"><strong> Jo</strong></label>
                            <br> </div>
                        <br>
                        <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
                    </fieldset>
                    <fieldset>
                        <h4>DETYRIMET LIGJORE: <span class="step">(Hapi 8 / 8)</span></h4>
                        <div class="form-group col-sm-12" style="padding-left:250px; padding-right:250px;">
                            <label for="about-you" style="color:red;">Para se te dergoni formen, ju lutem lexoni detyrimet ligjore:</label>
                            <br>
                            <label style="text-align:left;"><strong> ● Unë nëpërmjet këtij dokumenti deklaroj se do të ushtroj aktivitet në fushën e komunikimeve elektronike të shënuara më sipër dhe aplikoj për regjistrim në regjistrin e ofrueseve të rrjeteve dhe shërbimeve të komunikimeve elektronike të Autoritetit (ARKEP).
                                <br><br> ● Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur aktivitetet e komunikimeve elektronike të shënuara më sipër.
                                <br><br> ● Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur çdo aktivitet të komunikimeve elektronike nën regjimin e Autorizimit të përgjithshëm.
                                <br><br> ● Unë nëpërmjet këtij dokumenti deklaroj se të dhënat e mia kanë pësuar ndryshime, sikurse përshkruhen në formular.
                                <br><br> ● Unë nëpërmjet këtij dokumenti deklaroj se kam ndryshuar formën ligjore të ndërmarrjes sime siç përshkruhet në formular. Emri i vjetër është si më poshtë;<br> ___________________________________
                                <br><br> ● Unë nëpërmjet këtij dokumenti paraqes në ARKEP të gjithë dokumentacionin e nevojshëm ligjor dhe/ose të gjithë dokumentet që sigurojnë se nënshkruesi i këtij Njoftimi Regjistrimi ka lidhje me personin përfaqësues.
                                <br><br> ● Unë deklaroj se informacioni që përfshihet në deklarimin e paraqitur, sikurse çdo informacion tjetër shoqërues , është i saktë dhe i vërtetë, dhe jam plotësisht i vetëdijshëm për faktin që, lidhur me angazhimin në çdo aktivitet të komunikimeve elektronike për të cilin është e nevojshme të sigurosh të drejtën e përdorimit për numeracion dhe frekuenca, të drejta të cilat nuk sigurohen nëpërmjet kësaj procedurë, unë duhet të paraqes një aplikim për të fituar të drejtat e përdorimit të cituara më sipër përpara fillimit të ofrimit të shërbimit.</strong> </label>
                        </div>
                        <br>
                        <button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="submit" class="btn">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> {% endblock %}