{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<!-- Description -->
<div class="description-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 description-title">
                <h2>ARKEP</h2> </div>
        </div>
        <div class="row">
            <div class="col-sm-12 description-text"> <strong>
	                    	AUTORITETI RREGULLATIV I KOMUNIKIMEVE ELEKTRONIKE DHE POSTARE
                </strong>
                <div class="divider-1"><strong>. . . . . . . . . . . . . . . .</strong></div>
            </div>
        </div>
    </div>
</div>
<div class="msf-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 msf-title">
                <h4>FORMULAR I NJOFTIMIT PËR HYRJE NË AKTIVITETIN E KOMUNIKIMEVE ELEKTRONIKE</h4>
                <br>
                <br>
                <p style="font-size: 18px; color:#b3daff">Autoriteti do të procedoj me shqyrtimin e Formularit të Njoftimit vetëm pas kompletimit të Dosjes dhe do t'ju njoftoj për vendosjen në Regjistrin e Njoftimit brenda 5 (pesë) ditëve të punës nga data e kompletimit të Njoftimit. Ju faleminderit!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}